# Data manipulation
numpy
pandas
pyarrow

ipywidgets
ipython
traitlets

# Machine learning
scikit-learn==1.6.1
scikit-optimize==0.10.2
xgboost
catboost

# Utilities & logging
loguru
PyYAML
SQLAlchemy==2.0.40

pydantic==2.11.4
pydantic-settings==2.9.1
pydantic_core==2.33.2

imbalanced-learn==0.13.0
