# Data manipulation
numpy==2.2.5
pandas==2.2.3
pyarrow==20.0.0

# Machine learning
scikit-learn==1.6.1
xgboost==3.0.4
catboost==1.2.8

# Utilities & logging
pydantic==2.11.4
loguru==0.7.3
PyYAML==6.0.2
SQLAlchemy==2.0.40

# Optional: type hints for pandas (if you use mypy or pydantic)
pandas-stubs==2.2.3.250308

imbalanced-learn
